html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 30px;
}

#content {
	width: 100%;
	height: 50%;
}

#header {
	width: 100%;
	height: 20%;
	background-color: lightgreen;
	float: top;
}

#banner {
	width: 100%;
	height: 100%;
	float: left;
}

#right-margin {
	width: 30%;
	height: 90%;
	float: left;
	background-color: pink;
}


#left-margin {
	width: 30%;
	height: 90%;
	float: left;
	background-color: lightblue;
}


#contents {
	width: 40%;
	height: 90%;
	float: left;
	background-color: lightgray;
}

#footer {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 160px;
	width: 100%;
	height: 10%;
	background-color: lightyellow;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 60px;
	margin: 0 0 0 0;
}