html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 1vw;
}

#content {
	width: 100%;
	height: 50%;
}

#header {
	width: 100%;
	height: 20%;
	background-color: lightgreen;
	float: top;
}

#banner {
	width: 100%;
	height: 100%;
	float: left;
}

#right-margin {
	width: 30%;
	float: left;
	background-color: pink;
}


#left-margin {
	width: 30%;
	float: left;
	background-color: lightblue;
}


#contents {
	width: 40%;
	float: left;
	background-color: lightgray;
}

#right-margin, #left-margin, #contents{
	height: 85%;
}

#footer {
	overflow: auto;
	text-overflow: ellipsis;
	/* line-height: 160px; */
	width: 100%;
	height: 15%;
	background-color: lightyellow;
}

h1, h2, h3, h4 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	margin: 0 0 0 0;
}

h1 {
	font-size: 4vw;
}

h2 {
	font-size: 2.5vw;
}

h3 {
	font-size: 1.75vw;
}

h4 {
	font-size: 1.35vw;
}